.rec-videos {
    border: 1px groove black;
    border-radius: 5px;
    background-color: lightblue;
    color: black;
}

.rec-video {
    border: 1px groove black;
}

p{
    margin-left: 5px;
    font-weight: bold;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}